APP_TITLE="Films API"
APP_VERSION="0.0.1"
DEBUG=False

DB_URL=mysql+asyncmy://user:pass@dburl:3306/sakila
MONGO_URL=mongodb://mongo:27017/films_py
POPULAR_SEARCHES_STORE_LIMIT=20
POPULAR_SEARCHES_DEFAULT_LIMIT=5
